.main-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 50px;

  .column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 50px auto;
    min-height: 70px;
  }

  .record, .stop {
    max-width: 250px;
  }

  .chat-text {
    margin: auto;
  }
}
