<div class="main-wrapper">
  <div class="column">
    <button [disabled]="recordInProgress"
            (click)="startRecording()"
            color="warn"
            class="record"
            mat-raised-button>
      Start record
    </button>
    <button [disabled]="!recordInProgress"
            (click)="stopRecording()"
            color="warn"
            class="stop"
            mat-raised-button>
      Stop record
    </button>
  </div>

<!--  <div class="column">-->
<!--    <button (click)="getModels()"-->
<!--            mat-raised-button-->
<!--            color="primary">-->
<!--      Get available models data-->
<!--    </button>-->
<!--  </div>-->

  <div>{{ chatAnswer }}</div>
</div>
